# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.env*/ 
*.env
.env
.venv

# Poetry
poetry.lock
.cache/pypoetry/

# Django
*.log
*.sqlite3
/media/
staticfiles/

# VSCode
.vscode/

*.sqlite3

.pytest_cache/

.vscode/

docker-compose.yml